///////// color ///////////
$color-white: #fff;
$color-dark: #444;
$color-blue: #49a8eb;
$color-yellow: #ffcf26;
$color-grey: #999;

///////// indent /////////
$padding-v-large: 45px 0;
$padding-v-small: 15px 0;
$padding-large: 40px;

$margin-v-small: 15px 0;
$margin-center: 0 auto;

///////// font-size /////////
$text-extra-small: 12px;
$text-small: 14px;
$text-medium: 16px;
$text-large: 18px;
$text-extra-large: 20px;
$heading-extra-small: 24px;
$heading-small: 36px;
$heading-medium: 42px;
$heading-large: 48px;