/*******************************************************************************
********* footer
*******************************************************************************/

footer {
  flex-grow: 0;
  background: #000;

  .copyright {
    color:#fff;
  }

}