/*******************************************************************************
********* form-search
*******************************************************************************/

.form-search {
  background: $color-blue;
  padding: 25px;

  button[type='submit'] {
    height: 50px;
  }

  input::-webkit-input-placeholder {
    color: $color-grey;
    font-size: $text-large;
    opacity: 1;
  }

  input::-moz-placeholder {
    color: $color-grey;
    font-size: $text-large;
    opacity: 1;
  }

  input:-moz-placeholder {
    color: $color-grey;
    font-size: $text-large;
    opacity: 1;
  }

  input:-ms-input-placeholder {
    color: $color-grey;
    font-size: $text-large;
    opacity: 1;
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  input:focus::-moz-placeholder {
    color: transparent;
  }

  input:focus:-moz-placeholder {
    color: transparent;
  }

  input:focus:-ms-input-placeholder {
    color: transparent;
  }

  @media(max-width: 639px) {

    input {
      margin: 0 0 15px 0;
    }

  }

}