/*******************************************************************************
********* general
*******************************************************************************/

* {

}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  background: #e6f1fc;
}